@model List<OTAnswerService.Entities.Answer>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>№</td>
                <td>Тема</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(x => x)
        </tbody>
    </table>
</div>