
<h2>OT</h2>
<div class="row">
    <a class="btn btn-danger" href="@Url.Action("Create")">Добавить вопрос</a>
    <a class="btn btn-inverse" href="@Url.Action("Search")">Редактировать вопрос</a>
@*    <a class="btn btn-inverse" href="@Url.Action("Index", "Read")">Режим поиска</a>*@
</div>

